In [115]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from activation_function import Tanh, Linear, ReLU, Sigmoid
from layer import Layer
from mlp import MLP
from metrics import Metrics

## Solve XOR

In [ ]:
input = [[0, 0], [0, 1], [1, 0], [1, 1]]
oracle = [[0], [1], [1], [0]]

mlp = MLP()
metrics = Metrics()
act_func1 = ReLU()
act_func2 = Sigmoid()
lr = 0.1

mlp.add(Layer(5, act_func=act_func1, n_inputs=len(input[0]), learning_rate=lr))
mlp.add(Layer(len(oracle[0]), act_func=act_func2, n_inputs=5, learning_rate=lr))
mlp.fit(input, oracle, epochs=1000)
for i in range(len(input)):
    out = mlp.run(input[i])
    print(f'case {i}: {np.round(out, 2), oracle[i]}')

## SOLVE IRIS

In [116]:
import pandas as pd

data = pd.read_csv('archive/Iris.csv')
data.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [117]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [118]:
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [119]:
data.loc[data["Species"]=="Iris-setosa","Species"]      =   0.1
data.loc[data["Species"]=="Iris-versicolor","Species"]  =   0.5
data.loc[data["Species"]=="Iris-virginica","Species"]   =   0.9

#data.drop(data[data['Species'] == 2].index, inplace=True)

data=data.iloc[np.random.permutation(len(data))]
data.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
68  69            6.2           2.2            4.5           1.5     0.5
37  38            4.9           3.1            1.5           0.1     0.1
50  51            7.0           3.2            4.7           1.4     0.5
10  11            5.4           3.7            1.5           0.2     0.1
78  79            6.0           2.9            4.5           1.5     0.5

In [120]:
from utils import get_splits
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df_scaled = scaler.fit_transform(data.to_numpy())
df_scaled = pd.DataFrame(df_scaled, columns=data.columns.values)
del df_scaled['Species']
del df_scaled['Id']
df_scaled = df_scaled.assign(Species=data['Species'].values)

df_train, df_test, _ = get_splits(df_scaled, 0.8, 0.2)
print(df_train ,len(df_train))
print(df_test, len(df_test))

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0         0.527778      0.083333       0.593220      0.583333     0.5
1         0.166667      0.458333       0.084746      0.000000     0.1
2         0.750000      0.500000       0.627119      0.541667     0.5
3         0.305556      0.708333       0.084746      0.041667     0.1
4         0.472222      0.375000       0.593220      0.583333     0.5
..             ...           ...            ...           ...     ...
115       0.472222      0.416667       0.644068      0.708333     0.9
116       0.166667      0.208333       0.593220      0.666667     0.9
117       0.333333      0.916667       0.067797      0.041667     0.1
118       0.250000      0.875000       0.084746      0.000000     0.1
119       0.305556      0.791667       0.118644      0.125000     0.1

[120 rows x 5 columns] 120
     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
120       0.583333      0.291667       0.728814      0.750000     0.9
121       0.138889      0.458333       0.101695      0.041667     0.1
122       1.000000      0.750000       0.915254      0.791667     0.9
123       0.583333      0.500000       0.593220      0.583333     0.5
124       0.444444      0.416667       0.542373      0.583333     0.5
125       0.166667      0.458333       0.084746      0.000000     0.1
126       0.166667      0.458333       0.084746      0.000000     0.1
127       0.333333      0.250000       0.576271      0.458333     0.5
128       0.305556      0.791667       0.050847      0.125000     0.1
129       0.500000      0.333333       0.508475      0.500000     0.5
130       0.583333      0.333333       0.779661      0.833333     0.9
131       0.416667      0.291667       0.491525      0.458333     0.5
132       0.333333      0.125000       0.508475      0.500000     0.5
133       0.333333      0.625000       0.050847      0.041667     0.1
134       0.555556      0.541667       0.847458      1.000000     0.9
135       0.472222      0.083333       0.508475      0.375000     0.5
136       0.388889      0.333333       0.593220      0.500000     0.5
137       0.361111      0.416667       0.593220      0.583333     0.5
138       0.500000      0.333333       0.627119      0.458333     0.5
139       0.611111      0.500000       0.694915      0.791667     0.9
140       0.722222      0.458333       0.694915      0.916667     0.9
141       0.083333      0.500000       0.067797      0.041667     0.1
142       0.472222      0.583333       0.593220      0.625000     0.5
143       0.194444      0.583333       0.101695      0.125000     0.1
144       0.555556      0.125000       0.576271      0.500000     0.5
145       0.361111      0.416667       0.525424      0.500000     0.5
146       0.500000      0.416667       0.661017      0.708333     0.9
147       0.666667      0.416667       0.677966      0.666667     0.5
148       0.194444      0.125000       0.389831      0.375000     0.5
149       0.805556      0.500000       0.847458      0.708333     0.9 30

In [ ]:
def parseOracle(values):
    out=[]
    for i in range(len(values)):
        if values[i] == 0:
            out.append(np.array([1,0,0]))
        elif values[i] == 1:
            out.append(np.array([1,1,0]))
        else:
            out.append(np.array([1,1,1]))
    return out

In [131]:
X_train = df_train.iloc[ : , :4].values
y_train = df_train.iloc[:,4:].values
print(X_train[:3], y_train[3:])

[[0.52777778 0.08333333 0.59322034 0.58333333]
 [0.16666667 0.45833333 0.08474576 0.        ]
 [0.75       0.5        0.62711864 0.54166667]] [[0.1]
 [0.5]
 [0.5]
 [0.9]
 [0.1]
 [0.5]
 [0.1]
 [0.5]
 [0.9]
 [0.1]
 [0.5]
 [0.9]
 [0.9]
 [0.9]
 [0.1]
 [0.9]
 [0.1]
 [0.5]
 [0.5]
 [0.1]
 [0.9]
 [0.1]
 [0.1]
 [0.1]
 [0.1]
 [0.1]
 [0.9]
 [0.5]
 [0.1]
 [0.5]
 [0.5]
 [0.9]
 [0.1]
 [0.1]
 [0.5]
 [0.5]
 [0.9]
 [0.5]
 [0.1]
 [0.1]
 [0.1]
 [0.1]
 [0.1]
 [0.5]
 [0.9]
 [0.9]
 [0.1]
 [0.5]
 [0.9]
 [0.5]
 [0.1]
 [0.1]
 [0.1]
 [0.1]
 [0.9]
 [0.5]
 [0.5]
 [0.5]
 [0.1]
 [0.9]
 [0.1]
 [0.9]
 [0.9]
 [0.9]
 [0.1]
 [0.9]
 [0.1]
 [0.5]
 [0.9]
 [0.9]
 [0.9]
 [0.9]
 [0.1]
 [0.9]
 [0.9]
 [0.5]
 [0.9]
 [0.5]
 [0.1]
 [0.5]
 [0.5]
 [0.5]
 [0.9]
 [0.5]
 [0.5]
 [0.1]
 [0.9]
 [0.9]
 [0.9]
 [0.9]
 [0.1]
 [0.5]
 [0.9]
 [0.9]
 [0.5]
 [0.1]
 [0.5]
 [0.9]
 [0.9]
 [0.1]
 [0.1]
 [0.5]
 [0.5]
 [0.9]
 [0.9]
 [0.9]
 [0.1]
 [0.9]
 [0.1]
 [0.9]
 [0.1]
 [0.5]
 [0.9]
 [0.9]
 [0.1]
 [0.1]
 [0.1]]

In [123]:
model = MLP()

epochs, lr = 100, 0.1

model.add(Layer(n_perceptrons=len(X_train[0]),
                n_inputs=len(X_train[0]),
                act_func=ReLU(),
                learning_rate = lr))
'''model.add(Layer(n_perceptrons=5,
                n_inputs=len(X_train[0]),
                act_func=ReLU(),
                learning_rate = lr))'''
model.add(Layer(n_perceptrons=len(y_train[0]),
                n_inputs=len(X_train[0]),
                act_func=Sigmoid(),
                learning_rate = lr))

model.fit(X_train, y_train, epochs=epochs)

100% |########################################################################|

In [130]:
X_test = df_test.iloc[ : , :4].values
y_test = df_test.iloc[:,4:].values

def parse(out):
    if out > 0.80:
        return 0.9
    elif out < 0.3:
        return 0.1
    else:
        return 0.5
error = 0  
for i in range(len(X_test)):
    out = model.run(X_test[i])
    print(f'case {i}: {parse(out)}, {y_test[i][0]}')
    if parse(out) != y_test[i][0]:
        error += 1
print("error: ", error)

case 0: 0.9, 0.9
case 1: 0.1, 0.1
case 2: 0.9, 0.9
case 3: 0.5, 0.5
case 4: 0.5, 0.5
case 5: 0.1, 0.1
case 6: 0.1, 0.1
case 7: 0.5, 0.5
case 8: 0.1, 0.1
case 9: 0.5, 0.5
case 10: 0.9, 0.9
case 11: 0.5, 0.5
case 12: 0.5, 0.5
case 13: 0.1, 0.1
case 14: 0.9, 0.9
case 15: 0.5, 0.5
case 16: 0.5, 0.5
case 17: 0.5, 0.5
case 18: 0.5, 0.5
case 19: 0.9, 0.9
case 20: 0.9, 0.9
case 21: 0.1, 0.1
case 22: 0.5, 0.5
case 23: 0.1, 0.1
case 24: 0.5, 0.5
case 25: 0.5, 0.5
case 26: 0.5, 0.9
case 27: 0.5, 0.5
case 28: 0.5, 0.5
case 29: 0.9, 0.9
error:  1